body {
    background-color: #fffaf0;
    background-image: url("https://transparenttextures.com/patterns/bedge-grunge.png");
    color: navy !important;
}

.btn-outline-navy {
  color: #000080 !important;
  border-color: #000080 !important;
  transition: all 0.3s ease-in-out !important;
}
.btn-outline-navy:hover {
  color: white !important;
  background-color: #000080 !important;
}

.nav-zoom {
  transition: transform 0.2s ease-in-out !important;
}
.nav-zoom:hover {
  transform: scale(1.12);
}
