* {
    background-color: #fffaf0;
    /* background-image: url("https://transparenttextures.com/patterns/bedge-grunge.png"); */
    background-image: url("../src/Assets/Bg.png");
}

.btn-outline-navy {
  color: #000080 !important;
  border-color: #000080 !important;
}
.btn-outline-navy:hover {
  color: white !important;
  background-color: #000080 !important;
}

.nav-zoom {
  transition: transform 0.4s ease-in-out !important;
}
.nav-zoom:hover {
  transform: scale(1.15);
}

.custom-circle {
    width: 26rem;
    height: 24rem;
    border-radius: 50%;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.custom-circle:hover {
    border-color: #22c55e;
}